body{
    margin: 0;
    padding: 0;
    background-color: lightgray; 
    
}
div.head{
    background-color: lightgray; 
    vertical-align: top;
}
h1{
    padding: 5px;
}
.search{
    background-color: #DCDCDC;
    margin-top: -22px;
    padding: 5px;
}
textarea{
    width: 100%;
    height: 100%;
    overflow: visible;
    margin-bottom: 0px;
}
#result{
    position: absolute;
    bottom: 0;
    top: 100px;
    width: 100%;
    background-color: white;
}
#txt{
    margin-bottom: 100px;
}
#but{
    text-align: right;
}