@charset "UTF-8";

body{
	background-color: darkgrey;
	color: darkred;
	font-family: Georgia;
}
h3{
	color: rgb(153, 217, 234);
	background-color: grey;
	font-family: Verdana;	
}
h1{
	color: darkblue;
	font-family: "Arial Black";
}
span{
	color: yellow;
	font-weight: bold;
	font-family: Courier;
	font-style: italic;
}
a.color{
	color: blueviolet;
}
a:link{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
div.drop:first-letter{
	font-size: 20px;
}
dt{
	color: green;
}
dd{
	color: whitesmoke;
}
ol {
	display: flex;
	flex-direction: column-reverse;
}

